@font-face{
    font-family:"bee-leave";
    src:url("../Fonts/bee-leave/beeleave.ttf") format("truetype");
}

#tools{
    width:60%;
    height:80%;
}
.aside-left{
    display:inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width:50%;
    height:100vh;
    margin-left:18%;
}
.phrase-container{
    margin-top:18%;
}
.title-phrase{
    font-family:"bee-leave";
    font-size:200%;
}
.social-media{
    display:inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width:48%;    
    margin-left:80%;    
}
.SM-link{
    display:block;
    margin:4%;
    width:17%;
    height:17%;
}
.links{
    margin-top:-90%;
}
.title{
    font-family:"trueno";
    font-size: 170% !important;
}
.phone-number{
    font-family:"trueno";
    font-size:130%;
    font-weight:bold;
    margin-top:3%;
}
.bottom-phrase{
    margin-left:25%;
    padding:2%;
    margin-top:12%;
    text-align: center;
    border: solid 3px yellowgreen;
    margin-bottom:4%;
}
.bottom-phrase{
    border-radius: 3px 3px 0 0;
}
