@font-face{
    font-family:"bee-leave";
    src:url("../Fonts/bee-leave/beeleave.ttf") format("truetype");
}

#tools{
    width:60%;
    height:95%;
    object-fit: cover;
    margin-top:-4%;
    visibility: hidden;
    opacity: 0;
}
.aside-left{
    display:inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width:50%;
    height:100vh;
    margin-left:12%;
    margin-top:-2%;
}
.phrase-container{
    margin-top:15%;
}
.title-phrase{
    font-family:"bee-leave";
    font-size:200%;
}
.social-media{
    display:inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width:48%;    
    margin-left:70%; 
    margin-top: 7%;   
}
.SM-link{
    display:block;
    margin:8%;
    width:10%;
    height:10%;
    object-fit: cover;
    visibility: hidden;
    opacity: 0;
}
.links{
    margin-top:-90%;
}
.title{
    font-family:"trueno";
    font-size: 170% !important;
}
.phone-number{
    font-family:"trueno";
    font-size:130%;
    font-weight:bold;
    margin-top:3%;
}
.bottom-phrase{
    margin-left:15%;
    margin-right:15%;
    padding:1%;
    margin-top:12%;
    text-align: center;
    margin-bottom:4%;
    visibility: hidden;
    opacity: 0;
}