@font-face{
    font-family:"bee-leave";
    src:url("../Fonts/bee-leave/beeleave.ttf") format("truetype");
}
.documents-list, .beneficios, .texto{
    margin:2%;
    line-height:250%;
    font-family:"trueno";
    font-size: 135%;
}
.secondary-title{
    margin-top:5%;
    margin-bottom:2%;
    margin-left:4%;
    font-family:"bee-leave";
    font-weight:lighter;
    font-size:175%;
}
.texto{
    width:80vw;
    margin-left:4%;
}
#prices{
    margin-top:3%;
    margin-left:48%;
    padding:1%;
    width:10%;
}
.main-title{
    visibility: hidden;
    opacity: 0;
}