@font-face{
    font-family:"quick-kiss";
    src: url('../Fonts/quick-kiss-converted/quick-kiss.woff') format('woff');
    font-weight: normal;
    font-style: normal;         
    font-display:swap;
}
@font-face{
    font-family:"jelytta";
    src: url('../Fonts/Jelytta-converted/jelytta.woff') format('woff');
    font-display:swap;
}

body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.container{
    width:100vw;
    margin-top:0;
    margin-left:0;
    visibility:"hidden";
    opacity:0;  
}
.NavItem{
    font-family: "jelytta";
    padding-top:1.5%;
    padding-left:1%;
    width:50%;
    margin-left:1%;
}
.NavLink{
    font-family: "jelytta" !important;
    font-size: 125%;
    color:whitesmoke;
    font-family: 'Trebuchet MS';
    letter-spacing: 1.5px; 
    font-weight:lighter;
    width:35%;
    margin-left:5%;
}
.NavLink:hover{
    color:white;
}
#navigation-bar{
    padding-top:1%;
    /*margin-left:-2.8%;*/
    margin-left:-1vw!important;
    margin-bottom:0;
    width: 100vw;   
    height: 18vh;
    
}
#icono-nav{
    width: 45%;
    height: 45%;
    margin-bottom:-1%;
}
#icono-nav:hover{
    text-decoration: none;
}
#apple{
    margin-left:5%;
    width:25%;
}
#services{
    margin-left:25%;
    margin-right:-10%;
}
#about{
    padding-left:0;
    padding-right:0;
    margin-left:-7%;
    margin-right:-8%;
}
#contact{
    margin-left:-12%;
    margin-right:-15%;
}