@font-face{
    font-family:"trueno";
    src: url("../Fonts/trueno-converted/truenoultralightitalic-aymd-webfont.woff") format("woff");
}
@font-face{
    font-family:"houstelly";
    src: url("../Fonts/housttely-font/HousttelySignature.ttf") format("truetype");
}


.main-title{
    width:100vw;
    text-align: center;
    margin-left:-1.5%;
    margin-top:4%;
    margin-bottom:4%;
    padding:2%;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    font-weight:lighter;
    font-size:190%;
    font-family:"trueno";
}
.interpretacion{    
    width: 90vw;
    height: 100vh;
}

.text{
    padding:0;
    font-family:"houstelly" !important;
    margin:6%;
}
.box:hover{
    opacity:0.3;
}
.background{
    margin-left:-1%;
    width: 100vw;
    height:100%;
}
.box{
 margin-top:-55%;
 margin-left:36%;
}
.text, .text2{
    font-family:"houstelly" !important;
    list-style: none;
}
.text2{
    font-size: 200%;
    margin:8%;
    color:black;
}
.box2{
    margin-top:-55%;
    margin-bottom:40%;
    margin-left:38%;
}
#link1{
    text-decoration: none;
    color: black;
    opacity:1;
}
#link1:hover{
    opacity:0.3;
}
.box2{
    text-decoration:none;
    opacity:1;
}
.box2:hover{
    text-decoration:none;
    opacity:0.3;
}
.background2{
    margin-top:3%;
    margin-left:-1.5%;
    width:100vw;
}


