@font-face{
    font-family:"trueno";
    src: url("../Fonts/trueno-converted/truenoultralightitalic-aymd-webfont.woff") format("woff");
}
@font-face{
    font-family:"houstelly";
    src: url("../Fonts/housttely-font/HousttelySignature.ttf") format("truetype");
}
@font-face{
    font-family:"bee-leave";
    src:url("../Fonts/bee-leave/beeleave.ttf") format("truetype");
}

body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.main-title{
    width:100vw;
    text-align: center;
    margin-left:-0.5%!important;
    margin-top:4%;
    margin-bottom:4%;
    padding:2%;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    font-weight:lighter;
    font-size:195%;
    font-family:"trueno";
    visibility: hidden;
    opacity:0;
}
#title-element{
    visibility:"hidden";
    opacity:0;
}
.interpretacion{    
    width: 85vw;
    height: 100vh;
    margin-left:1%;
    visibility: hidden;
    opacity:0;
}
.clases{
    visibility: hidden;
    opacity:0;
}
.box1:hover, .box2:hover{
    opacity:0.3;
}
.background{
    margin-left:-1%;
    width: 100vw;
    height:100%;
}
.box1{
    font-size: 200%; 
    margin-top:-44%;
    margin-left:36%;
}
.text1{
    margin:7%;
    color:black;
}
.text1, .text2{
    font-family:"bee-leave";
    font-weight:lighter;
    list-style: none;
}
.text2{
    font-size: 200%;
    margin:8%;
    margin-left:-22%;
    color:black;
}

.box2{
    margin-top:-60%;
    margin-bottom:38%;
    margin-left:45%;
}
#link1{
    text-decoration: none;
    color: black;
    opacity:1;
}
#link1:hover{
    opacity:0.3;
}
#link2{
    text-decoration:none;
    color:black;
    opacity:1;
}
#link2:hover{
    opacity:0.3;
}
.background2{
    margin-top:3%;
    margin-left:-1.5%;
    width:100vw;
}

